/.vscode

/.idea/*
KitchenManager.iml
target/
bin/
!.mvn/wrapper/maven-wrapper.jar
*.class
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
/.idea/
/src/main/java/team4/KitchenManager/View/*.form
/target/classes
/target/test-classes/team4/AppTest.java
target/test-classes/.netbeans_automatic_build
src/test/java/team4/AppTest.java
KitchenManager.iml

