/.vscode

/.idea/*
KitchenManager.iml
target/
bin/
!.mvn/wrapper/maven-wrapper.jar
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/
/src/main/java/team4/KitchenManager/View/*.form
KitchenManager.iml

